/*  your css code here. If applicable */
body{
	text-align: center;
}

div{
	border-radius: 10px;
	background-color: #F1F1F1;
	margin: auto;
	width: 380px;
	padding: 55px;
	box-sizing: border-box;
	box-shadow: 0px 10px 10px gray;
}

img{
	width: 280px;
}

h1{
	font-size: 48px;
	display:inline;
	font-weight: 900;
}

p{
	font-size: 28px;
	display: inline-block;
	font-weight: 600;
}

button{
	font-size: 40px;
	padding: 10px;
	color: white;
	background-color: #FE625A;
	border-radius: 20px;
	border: none;
}